{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Hello Sarangyi fans</h1>
  <p>Welcome to the Sarangyi fan community</p>
  <h2>Sarangyi fanclub</h2>
  <p>Look at her pretty pictures.</p>
  <div class="row">
    {% for Sarangyi in Sarangyis.Sarangyis %}
      <div class="col">
        <img src="img/{{ Sarangyi.image }}.jpg" alt="" class="img-fluid">
        <h3><a href="Sarangyis/{{ Sarangyi.slug }}.html">{{ Sarangyi.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}